/* NavBar */

#navBar{
  padding: 50px;
  background: silver;
  border-bottom: 5px solid black;

}

#navBarUl{
  margin-right: 158px;
  margin-top: -130px;
}


.nav-item {
  display:inline;
  padding: 5px 20px;
}

.storeNavBar{
  margin-left: 1110px;
  margin-top: -80px;
}

/* Home page */
.categoryGrid1{
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 10px;
  background-color: darkgray;
  margin-top: 80px;
  margin-left: 40px;
  border-radius: 200px;
  width: 80%;
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
}

.categoryGrid2{
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 10px;
  background-color: darkgray;
  margin-top: 80px;
  margin-left: 120px;
  border-radius: 200px;
  width: 90%;
  height: 455px;
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
}

/* About page */

.categoryGrid3{
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 10px;
  background-color: darkgray;
  margin-top: 80px;
  margin-left: 20px;
  border-radius: 200px;
  width: 50%;
  height: 455px;
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
}

.categoryGrid4{
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 10px;
  color: #7395B6;
}




/* loginSignUp */

.loginSignUp{
  height: 520px;
  width: 400px;
  background-color: gray;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  padding: 50px 35px;
  margin-left: -475px;
  margin-top: 300px;
}

.loginSignUp *{
  font-family: 'Poppins',sans-serif;
  color: black;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
.loginSignUp h2{
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

.loginSignUp label{
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}

.loginSignUp input{
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255,255,255,0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 1px;
  font-size: 14px;
  font-weight: 300;
}

.loginSignUp::placeholder{
  color: #e5e5e5;
}

.loginSignUpFormButton{
  margin-top: 25px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 1s;
}

.loginSignUpFormButton:hover{
  opacity: .5;
}

.SignUpButton{
  margin-top: 15px;
  width: 50%;
  background-color: lightgrey;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.SignUpButton:hover{
  opacity: .5;
}

.loginSignUp1{
  height: 600px;
  width: 600px;
  background-color: gray;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  padding: 50px 35px;
  margin-left: -350px;
  margin-top: 300px;
}

.signUpForm{
  display: grid;
	grid-template-rows: 50px 50px ;
	grid-template-columns: 150px 150px 150px;
	grid-gap: 30px;
}

.loginSignUp1 *{
  font-family: 'Poppins',sans-serif;
  color: black;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
.loginSignUp1 h2{
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

.loginSignUp1 label{
  display: block;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 500;
}

.loginSignUp1 input{
  display: block;
  height: 25px;
  width: 100%;
  background-color: rgba(255,255,255,0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 1px;
  font-size: 14px;
  font-weight: 300;
}

.loginSignUp1::placeholder{
  color: #e5e5e5;
}

/* profileForm */

.profileForm{
  height: 825px;
  width: 400px;
  background-color: gray;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  padding: 50px 35px;
  margin-top: 450px;

}

.profileForm *{
  font-family: 'Poppins',sans-serif;
  color: black;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
.profileForm h2{
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

.profileForm label{
  display: block;
  margin-top: 15px;
  font-size: 16px;
  font-weight: 500;
}

.profileForm input{
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255,255,255,0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 1px;
  font-size: 14px;
  font-weight: 300;
}
.profileForm::placeholder{
  color: #e5e5e5;
}

.profileFormButton{
  margin-top: 25px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.profileFormButton:hover{
  opacity: .5;
}



/* AD Carousel */
.adsCarousel{
  position:relative; 
  top: 70px;
  left: 15px;
  background-color: gray;
  margin: auto;
  width: 800px;
  height: 300px;
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
}

#adsCarouselImg {
  width: 100px; 
  height: 300px;
}


.homeHeaders{
  margin-left: 150px;

}



/* Item Carousel */
.itemsCarousel{
  position:relative; 
  top: 50px;
  /* margin: auto; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Items Pop Up */
.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 120vh;
  top: 0;
  left: 0;
}

.popupHeader{
  text-align: center;
}

.box {
  width: 70%;
  height: 75%;
  margin-top: 40px;
  margin-left: 216px;
  background: white;
  text-align: center;
}
  
.close-icon {
  content: 'x';
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 90px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
} 


.clickedItem{
  text-align: center;
}

.clickedItem img{
  width: 300px;
  height: 220px;	
}

.clickedItemInfo{
  position: relative;
  margin-left: 700px;
  top: -30px;
}

.itemInfo{
  align-items: center;
  justify-content: center;
  margin-left: 50px; 
}

/* Search Container Store*/
.searchContainer{
  margin: 50px 450px; 
  position: relative;
  bottom: 0;
  width:100px;
  height:100px;
  display:grid;
  grid-template-columns: 8ch auto;
  grid-row: auto auto;
  grid-column-gap: 205px;
  grid-row-gap: 20px;
}


#searchBar{
  width: 700px;
  height: 50px;
  margin-left: 350px; 
}

.categoryGrid{
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 10px;
}


#ptPic8{
  height: 150px;
  width: 350px;
}

.tabsContainer{
  text-align: center;
  position: relative;
  color: silver;
}

#sortBadge{
  border-radius: 5px;
}

#activeButton{
  color: blue;
}



/* My Cart */
.myCartHeader{
  text-align: center;
}

#myCartItemsContainer{
  text-align: center;
}

.myCartItemImg{
  width: 50px;
  height: 50px;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  font-size: 25px;
}

#visaCard{
  color: navy;
}

#amexCard{
  color: blue;
}

#masterCard{
  color: red;
}

#discoverCard{
  color: orange;
}

#checkoutBarBadge{
  width: 100%;
  height: 180px;
  margin-top: 290px;
  position: absolute;
  border-radius: 55px 55px 0px 0px;
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
}

#checkoutBarButton{
  width: 150px;
  height: 40px;
}

/* hovers */

/* store items */
.storeItems:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.dashBoard:hover {
  background: #e1e1e1;
  border: 1px solid #d0d0d0;
}

.buttonEffect:hover{
  opacity: .5;
}

.buttonEffect1:hover{
  background-color: white;
}

.buttonEffect2:hover{
  background-color: white;
  border-color: red;
}

#buttonEffect3:hover{
  opacity: .5;
}




/* 1.5 */

.navLink:hover{
  opacity: .5;
}
.navStyle{
  border: 2px solid rgba(8,7,16,0.6);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
}

.aboutPage0 ul {
  list-style-type: none;
}

.page-header { background: url(https://pt.wustl.edu/wp-content/uploads/2015/11/patient-care-landing-page-feature-full-width.jpg)no-repeat; position: relative; background-size: cover; }
.page-caption { padding-top: 170px; padding-bottom: 174px; }
.card-section { position: relative; bottom: 60px; text-align: center;}
.card-block { padding: 80px; }
